<div class="container custom-container">
    <div class="col-md-12">
      
      <h3 class="mb-3 text-center">Update Enquiry</h3>
  
      <div class="form-group">
        <input type="text" [(ngModel)]="enquiryData.title" class="form-control" placeholder="Name">
      </div>
  
      <div class="form-group">
        <input type="text" [(ngModel)]="enquiryData.snippet" class="form-control" placeholder="Email">
      </div>
  
      <div class="form-group">
        <input type="text" [(ngModel)]="enquiryData.body" class="form-control" placeholder="Phone">
      </div>

      <div class="form-group">
        <input type="text" [(ngModel)]="enquiryData.email" class="form-control" placeholder="Phone">
      </div>

  
      <div class="form-group">
        <button class="btn btn-success btn-lg btn-block" (click)="updateEnquiry()">Update Enquiry</button>
      </div>
      
    </div>
  </div>
  