<div class="container custom-container-2">

    <!-- Show it when there is no enquiry -->
    <div class="no-data text-center" *ngIf="Enquiry.length == 0">
      <p>There is no Enquiry added yet!</p>
      <button class="btn btn-outline-primary" routerLink="/create-enquiry">Add Enquiry</button>
    </div>
  
    <!-- Enquirys list table, it hides when there is no Enquiry -->
    <div *ngIf="Enquiry.length !== 0">
      <h3 class="mb-3 text-center">Enquiries</h3>

      <form class="search">
        <input class="form-control mb-4" id="tableSearch" type="text" placeholder="Search..." />
      </form>

      <div class="col-md-12">
        <table id="tblList" class="table table-bordered table-striped table-hover">
          <thead>
            <tr>
              <th scope="col">S.No.</th>
              <th scope="col">Title</th>
              <th scope="col">Course Name</th>
              <th scope="col">Enquiry</th>
              <th scope="col">Email</th>
              <th *ngIf="role === 'admin'" scope="col" colspan="2">Action</th>
            </tr>
          </thead>
          <tbody id='myTable'>
            <tr *ngFor="let enquiry of Enquiry; let i = index">
              <td>{{i+1}}</td>
              <td>{{enquiry.title}}</td>
              <td>{{enquiry.snippet}}</td>
              <td>{{enquiry.body}}</td>
              <td>{{enquiry.raisedby}}</td>
              <td *ngIf="role === 'admin'">
                <span class="edit" routerLink="/enquiry-edit/{{enquiry._id}}">Edit</span>
              </td>
              <td *ngIf="role === 'admin'">
                <span class="delete" (click)="deleteEnquiry(enquiry._id)">Delete</span>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
  
    </div>
  
  </div>

  <script>
    //Dynamic Search in table columns
  $(document).ready(function(){
      $("#tableSearch").on("keyup", function() {
        var value = $(this).val().toLowerCase();
        $("#myTable tr").filter(function() {
          $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
        });
      });
    });
  </script>