<div class="container custom-container">
    <div class="col-md-12">
      <h3 class="mb-3 text-center">Create Enquiry</h3>
  
      <div class="form-group">
        <label for="title">Enquiry title:</label>
        <input type="text" [(ngModel)]="enquiryDetails.title" class="form-control" placeholder="Name">
      </div>
  
      <div class="form-group">
        <label for="snippet">Course Name:</label>
        <input type="text" [(ngModel)]="enquiryDetails.snippet" class="form-control" placeholder="Email">
      </div>
  
      <div class="form-group">
        <label for="body">Your Enquiry:</label>
        <input type="text" [(ngModel)]="enquiryDetails.body" class="form-control" placeholder="Phone">
      </div>

      <div class="form-group">
        <input type="text" [(ngModel)]="enquiryDetails.email" class="form-control" placeholder="Phone">
      </div>
  
      <div class="form-group">
        <button class="btn btn-success btn-lg btn-block" (click)="addEnquiry(enquiryDetails)">Create Enquiry</button>
      </div>
  
    </div>
  </div>